.body {
  background-image: url(images/Background.png);
  color: white;
  font-family: Roboto;
  width: 100%;
  background-size: cover;
  background-attachment: scroll;
  min-width: 320px;
}

.menu {
  display: flex;
  flex-flow: column;
}

.title {
  font-size: 55.5px;
  padding-left: 94px;
  margin-bottom: 0px;
  padding-top: 79px;
}

.text {
  font-size: 19px;
  margin: 0px;
  padding-top: 7px;
  padding-left: 97px;
}

.difficults {
  font-style: normal;
  font-weight: bold;
  font-size: 49px;
  line-height: 59px;
  padding-top: 55px;
  padding-left: 145px
}

.difficult__normal {
  padding-top: 26px;
}

.difficult__hard {
  padding-top: 22px;
}

.difficult:hover {
  color: black;
  opacity: 0.7;
  transition: 0.5s;
}

.difficult__normal,
.difficult__easy,
.difficult__hard {
  position: relative;
}

.difficult-check {
  width: 18px;
  height: 18px;
  background-color: red;
  transform: rotate(45deg);
  position: absolute;
  top: 45px;
  left: -47px; 
}

.difficult:nth-child(1) .difficult-check{
  top: 23px;
}

.cards {
  display: flex;
  padding-top: 21px;
  margin-right: 58px;
}

.card-wrap:nth-child(1) {
  transform: rotate(11.9deg);
}

.card-wrap:nth-child(2) {
  transform: rotate(39.26deg) translate(-22px, 42px);
}

.bottom {
  width: 97%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  height: 95px;
  width: 350px;
  background: #D62B2E;
  color: white;
  font-size: 32px;
  font-weight: bold;
  border-radius: 10px;
  margin-bottom: 44px;
  margin-left: 95px;
}

button:focus {
  outline: none;
}

.btn:hover {
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  transform: translateY(5px);
}

.table {
  display: none;
  align-items: center;
  justify-content: center;
  height: inherit;
  width: 100%;
}

.field {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  width: 0;
}

.table-card__wrap {
  width: 219px;
  height: 343px;
  padding-right: 20px;
  padding-bottom: 15px;
  display: none;
  background-color: transparent;
  position: relative; 
  transition: transform 0.6s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.rotate {
  transform: rotateY(180deg);
  padding-left: 20px;
  padding-right: 0;
  }

.card-back {
  transform-style: preserve-3d;
  transition: transform .8s;
  height: 341px;
  width: 218px;
}

.card-back:hover {
  transform: translate3d(-10px, -30px, -40px) rotate(-3.08deg);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, .5);
  transition: .8s;
  }

.card-back,
.card-front {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-front {
  transform: rotateY(180deg);
}

@media (max-width: 980px) {
  .title {
    font-size: 36px;
  } 

  .text {
     font-size: 12px;     
  }

  .difficults {
    font-size: 32px;
    line-height: 34px;
    padding-left: 119px;    
  }

  .card-wrap {
    width: 38%;
  }
   
  .start-card {
    width: 100%; 
  }

  .difficult-check {
    top: 36px;    
  }

  .difficult:nth-child(1) .difficult-check {
    top: 10px;
  }
}

@media (max-width: 710px) {
  .title {
    padding-left: 60px;
  }

  .text {
    padding-left: 65px;    
  }

  .difficults {
    padding-left: 80px;
    line-height: 32px;
  }

  .btn {
    margin-left: 48px;
  }

  .cards {
    margin-right: 0;
  }
}

@media (max-width: 675px) {
  .bottom {
    flex-flow: wrap;
    margin-top: 53px;    
  }

  .cards {
    margin-left: 53px;
  }
}

@media (max-width: 610px) {
  .title {
    padding-left: 25px;    
  }

  .text {
    padding-left: 32px;
  }

  .difficults {
    padding-left: 37px;     
  }

  .btn {
    margin-left: 29px;
  }    
    
  .cards {
    margin-left: 36px;
  }
}

@media (max-width: 569px) {
  .title {
    padding-left: 10px;
    font-size: 33px;
  }

  .text {
    padding-left: 15px;
    font-size: 10px;
  }
}

@media (max-width: 510px) {
  .title {
    text-align: center;
    padding-left: 0;
  }

  .text {
    padding-left: 0;
    text-align: center;
    font-size: 15px;      
  }

  .difficults {
    padding-left: 0;
    text-align: center;
  }

  .bottom {
    justify-content: center;
  }

  .btn {
    margin-left: 0;
  }

  .cards {
    margin-left: 0;
    display: flex;
    justify-content: center;
  }

  .difficult-check {
    left: 135px;
    top: 33px;    
  }
}
